.table
{
    display: flex;
    flex-direction: column;
    margin-top:0.5rem;
    background-color: ghostwhite;
}
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    background-color: ghostwhite;
}
.operators
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    gap:1rem;
}
.nav-buttons
{
    border: 2px black solid;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
}
.row
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: gainsboro;
    padding:0.5rem;
    border: 1px lightgrey solid;
}
.text
{
    text-align: left;
    font-weight: 500;
    font-size: larger;
    font-family: Calibri;
}
.header
{
    text-align: left;
    font-weight: 600;
    font-size:larger;
    color:dimgray;
    font-family: Calibri;
}
.btn
{
    padding: 0.5rem;
    font-weight: 500;
    font-size: medium;
    width:10rem;
    border-radius: 1rem;
    border: 1px cornflowerblue solid;
    font-weight: 600;
}

.formPart
{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input
{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 30rem;
    height: 1rem;
    border-radius: 0.5rem;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.paging 
{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end; 
    gap:1rem;
    align-items: center;
}

.bold-large
{
    font-size: large;
    font-weight: bold;
    font-family:Calibri;
}

.sort-icon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.sortable-header:hover .sort-icon {
    opacity: 1;
}

.shadow
{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
